@import 'variables';
@import 'mixins';

.step-container-third {
  margin: auto;
  padding-left: 110px;
  padding-right: 110px;
  box-sizing: border-box;
  background-color: $text-color;
  border-radius: 24px;
  position: relative;
  top: 24px;
  height: 500px;
  max-width: 900px;

  label {
    display: block;
    margin: 10px 0;
    margin-top: 50px;
  }

  .navigation-buttons-submit {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 75px;

    .button-submit {
      @include button-style($width: 110px);
    }

    .button-submit:focus,
    .button-submit:hover,
    .button-submit:active {
      filter: brightness(90%);
    }
  }
}

.about {
  height: 84px;
  width: 680px;
  border-radius: 4px;
  border: 1px solid $input-border-color;
  color: $input-color;
}

@media (max-width: $mobile-breakpoint) {
  .step-container-third {
    padding: 15px;
    min-height: 400px;
    top: 3px;
  }

  .form-wrapper {
    position: relative;
    top: 25px;
  }
  
  .about {
  width: 100%;
  font-size: 12px;
  }

  .button-submit {
    @include button-style($width: 100px);
    font-size: 12px;
  }
}