$primary-color: #5558FA;
$text-color: white;
$border-radius: 4px;
$mobile-breakpoint: 768px;
$font-family-main: 'TT Travels', sans-serif;
$secondary-color: #333;
$avatar-color: #D5E4F7;
$error-color: red;
$input-border-color: rgba(0, 0, 0, 0.16);
$input-background-color: rgba(0, 0, 0, 0.04);
$input-color: rgba(0, 0, 0, 0.48);
$success-color: rgba(5, 174, 113, 1);
$error-color: rgba(232, 78, 88, 1);
$success-color-outer: rgba(5, 174, 113, 0.15);
$error-color-outer: rgba(232, 78, 88, 0.15);;